@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@900&display=swap');
 

body {
  margin: 0;
  background-color:white;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

button {
  padding: 1em;
  margin: 1em;
  background-color: rgb(10, 24, 53);
  color: white;
  border-radius: 0.375rem;
  border-style: none;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.2),0px 2px 4px -1px rgba(0, 0, 0, 0.06);
  font-size: 20px;

}

.article-body {
  margin: 0px;
  padding-left: 2px;
  padding: 0.5rem;
  height: 100%;
  justify: center;
  background-color: #eee;
  border-radius:10px;
}

.page-bg {
  background: url('kg-img.png');
}
/* #starts {
  background-color: black;
  color: antiquewhite;
} */

.searchTerms {
  height: 10em;
  width: 15em;
  font-style: italic;
  font-size: 16px;
}
.smallsearchTerms {
  height: 5em;
  width: 8em;
  font-style: italic;
  font-size: 12px;
}

.nodeOptions {
  height: 2em;
  width: 97%;
  font-style: italic;
  font-size: 16px;
}

textarea {
  height: 10em;
  width: 15em;
  font-style: italic;
  font-size: 16px;
  margin-bottom: 1.5em;
}

h1 {
  margin-top: 0em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color:black
}

.dropdownbox {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 15em;
  font-size: 20px;
}

.scatterplot {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.dash-table-tooltip {
  background-color:violet;
}

.loading {
  margin: 1em;
}


/* This creates a skinny side bar fixed to the left of the page */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 5rem;
  padding: 2rem 1rem;
  background-color: #cbd3dd;
  z-index: 1050;
  transition: width 0.1s ease-in-out;
}

/* when the user hovers on the sidebar, expand it */
.sidebar:hover {
  width: 16rem;
}

/* make sure the contents of the navlink don't wrap when navbar collapses */
.sidebar .nav-link {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

/* fix the width of the icons */
.sidebar .nav-link i {
  width: 1rem;
}

/* hide the navlink labels by default */
.sidebar .nav-link span {
  visibility: hidden;
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
}

/* when the sidebar is hovered, reveal the labels */
.sidebar:hover .nav-link span {
  visibility: visible;
  opacity: 1;
  color: black;
}

/* container for the sidebar header. make sure the contents don't wrap when
 * the sidebar is collapsed.
 */
.sidebar-header {
  display: flex;
  justify-content: left;
  align-items: left;
  overflow: hidden;
  white-space: nowrap;
}

/* position the header relative to the logo and hide by default */
.sidebar-header h2 {
  opacity: 0;
  margin-left: 1rem;
  margin-bottom: 0;
  transition: opacity 0.1s ease-in-out;
}

/* reveal the header when the sidebar is toggled */
.sidebar:hover .sidebar-header h2 {
  opacity: 1;
}

/* position the content relative to the collapsed sidebar */
.content {
  margin-left: 7rem;
  margin-right: 2rem;
  padding: 2rem 1rem;
}

#my-div{
  //For center align
  margin: 0 auto;
  // For grow & shrink as per screen size change values as per your requirements
  width: 80%;
  height: 50%;
}

.p-3 {
  padding: $spacer !important;
  justify-content-around;
}

table#review-final-analysis-table td:nth-of-type(1) {
  width: 50px;
}
table#review-final-analysis-table td:nth-of-type(2) {
  width: 150px;
}